
<!-- templates/users/change_password.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}
{% block page_title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card card-custom">
                <div class="card-header bg-white">
                    <h5 class="mb-0">Change Your Password</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="alert alert-info mt-3">
                            <i class="bi bi-info-circle"></i>
                            <strong>Password Requirements:</strong>
                            <ul class="mb-0">
                                <li>At least 8 characters long</li>
                                <li>Cannot be entirely numeric</li>
                                <li>Cannot be too similar to your other information</li>
                            </ul>
                        </div>
                        
                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'users:profile' %}" class="btn btn-secondary">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-lock"></i> Change Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}